h1 {
    text-align: center;
    color: white;
}
body {
    background-color: rgba(0, 0, 0, 0.681);
}

button {
    color: black;
    background-color: tomato;
    font-size: larger;
    margin: auto;
    display: block;
    width: 40%;
    display: block;
}

a {
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
}
.scoreZone {
    background-color: rgba(246, 46, 46, 0.571);
    width: 80%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
}

.numbers {
    margin-top: 10px;
    font-size: large;
    width: 15%;
}

.grid {
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 4%;
    align-items: center;
    }

#backGround {
    background-image: url(./img/citybattle/ghoulhallway.png);
    background-size: 100% 100%;
}

.square {
    height: 250px;
    width: 30%;
   margin-bottom: 1%;
   border: dotted grey 1px;
}

.square1 {
    height: 250px;
    width: 30%;
    margin-bottom: 1%;
    border: dotted grey 1px;

    } 

.square2 {
    height: 250px;
    width: 30%;
    margin-bottom: 1%;
    border: dotted grey 1px;
    text-align: center;

    }


.mole {
    background-image: url("./img/citybattle/ghost.png");
    background-size: 25% 25%;
    background-repeat: no-repeat;
    background-position: center;
    
}



.hole {
    /* background-image: url("./img/citybattle/barrel.png"); */
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;

}

.one {
    background-size: 75% 75%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .7;
}
.two {
    background-size: 55% 55%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .5;
}
.three {
    background-size: 40% 40%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .3;
}

.first {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


/* //start button */

         
  #startBtn {
    border: none;
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
  

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}